



.App .container {
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.App .sub-header{
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
.App .sub-header .sorter {
  display : flex;
  justify-content: flex-start;
}

.App .sub-header .sorter .select-box{
  padding-left: 5px;
}
.App .container .sidebar{
  width: 20%;
}
.App .container .dress-container{
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.App .container .dress-container .dress-box{
  width: 30%;
  margin: 10px;
}
.App .container .dress-container .dress-box img{
  width: 100%;
}
.App .container .dress-container .dress-box .orignal-price{
  text-decoration: line-through;
}