
 

.trigger-btn{
  font-size: 2rem;
}

.shopping-cart{
  display: flex;
  flex-direction: column;
  background-color: black;

}

.shopping-cart .sub-total{
  display: flex;
  justify-content: space-around;
}

.shopping-cart .sub-total p{  
  color: white;
  
}


.shoppingcart-item {
    border: 2px solid rgb(75, 73, 73);
    margin-top:5px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.shoppingcart-item p{
  color: white;
  padding-left: 5px; 
  
}
.shoppingcart-item .img{
  width: 20%;
}
.shoppingcart-item .discounted-price{
  width: 20%;
}
.shoppingcart-item .d.descriptions{
  width: 50%;
}

.shoppingcart-item img{
  width: 100%;
  height: 90%;
  vertical-align: center;
}
.shoppingcart-item span{
  color: white;
  
}
.shoppingcart-item p{
  font-size: 0.65rem;
}

.shoppingcart-item .close{
  color: rgb(201, 203, 209);
  font-weight: 600;
  position: absolute;
  top: 0;
  right:2px;
  
}

.checkout{
  text-align: center; 
}

.checkout-btn{
  width: 90%;
  background-color: rgb(75, 73, 73);
}

